* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background:  url(images/bg.jpg);
    background-size: 100%;
    background-position: 0px 0px;
}

header {
    background-color: rgb(6, 72, 102);
    background-size: 100%;
    background-position: 0px 0px;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.login {
    font-size: 24px;
    margin: auto;
    width: 350px;
    height: 200px;
    border: solid 10px #2e294e;
    border-radius: 10px;
    background-color: white;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
  }

#enroll table {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #333;
    border-radius: 5px;
    background-image: linear-gradient(30deg, #88888F 0%, rgb(6, 72, 102) 100%);
}
#enroll td {
    padding: 10px;
}


#enroll input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: 4px solid #f83434;
    box-sizing: border-box;
}

#enroll input[type=button], input[type=submit] {
    background-color: #f83434;
    border: none;
    width: 40%;

}

#enroll p {
    position: relative;
    text-align: center;
    color: white;
    top: 200;
    font-size: large;
    width: 100%;
}

#navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f83434
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2e294e;
}


.active {
    background-color: #1b7199;
} 

form {
    text-align: center;
}

footer {
    position: fixed;
    bottom:0;
    text-align: center;
    font-size: 15px;
    height: 20px;
    width: 100%;
}

.container{
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    padding: 150px 100px 500px 100px;
    overflow:auto;
    margin:0 auto;
    width: 1200px;
    margin: 0px auto 0px auto;
    border-radius: 2px;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

p#quizP1{
    margin: 15px;
}
h1#h1{
    margin: 15px;
}

a.start{
    display:inline-block;
    color:#fff;
    background:#f83434;
    border:1px;
    padding:6px 13px;
    text-decoration: none;
}

.current{
    font-size:20px;
    padding:10px;
    border:#f83434 double 1px;
    margin:20px 0 10px 0;
}

.choices{
    line-height: 1.6em;
    font-size:20px;
}

div.font{
    font-size: 20px;
}

div.final{
    line-height: 2em;

}
p.question{
    font-size: 20px;
}

.restart {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

a.reset{
    display:inline-block;
    color:#fff;
    background:#f83434;
    border:1px;
    padding:6px 13px;
    text-decoration: none;
}

.button{
    display:inline-block;
    width:15%;
    color:#fff;
    border:1px;
    padding:100px;
}


.timetable {
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .timetable THEAD{
    color: #FFFFFF;
  }
  
  .timetable TBODY {
    background-color: #ffffff;
  }
  
  .timetable TD {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
  }
  .timetable TBODY TR TD:first-child {
    background-color: #1b7199;
    font-weight: bold;
  } 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	vertical-align: baseline;
}

#userInfo {
    
    position: fixed;
    float: left;
    font-size: small;
    border: 5px solid #f83434;
    color: black;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    width:fit-content;
    height: fit-content;
    padding: 10px;
}

#studentHomeContent {
    color: white;
}

#homeContent h1 {
    text-align: center;
}

#studentHomeContent h1 {
    text-align: center;
}


#studentHomeContent caption {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: white;
}

#studentHomeContent table {
    width: 20%;
    text-align: center;
    border: 5px solid #f83434;
    border-radius: 10px;
    background-color: white;
}

#tutorHomeContent h1 {
    text-align: center;
    color: white;
}

#tutorHomeContent .backButton {
    margin: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tutorHomeContent caption {
    font-weight: bold;
    font-size: medium;
    color: black;
    border: 5px solid #f83434;
    background-color: white;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    padding: 2px;
    width: fit-content;
}

#tutorHomeContent table {
    width: 40%;
    float:right;
    text-align: center;
    border: 5px solid #f83434;
    border-radius: 0 10px 10px 10px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#tutorHomeContent td {
    padding: 10px;
}
